:root {
    --featureRed: #6F0000;
}

body {
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: 'Irish Grover', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(43, 43, 43);
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
}

nav h1 {
    flex: 1;
}

nav ul {
    display: flex;
    /* margin: 10px 30px 30px 30px; */
    flex: 2;
    justify-content: space-around;
    justify-items: left;
    height: 100%;
    align-items: center;
}

nav ul li {
    flex: 1;
    list-style: none;
    text-align: center;
}

button {
    background-color: #FF8A00;
    color: black;
    border: none;
    border-radius: 20%;
    padding: 10px
}
button:hover {
    background-color: #be6600;
}
button:active{
    background-color: #8b4a00;
}

.feature-box {
    background-color: #6F0000;
    border-radius: 15px;
    /* height: 350px; */
    margin: 5% 10%;
    padding: 20px;
}

.text-with-img {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    align-items: center;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.ticket-box {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
}

.ticket-teller {
    background-color: tomato;
    text-align: center;
    border: black solid 1px;
}
.ticket-teller button {
    margin: 0px 20px;
}

.totaalBedrag {
    text-align: right;
}

.flex-item {
    flex: 1;
    align-content: center;
}
.flex-box {
    display: flex;
    width: 100%;
}

.calendar {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: tomato;
    border-radius: 15px;
    margin: 5% auto;
    padding: 20px;
}

.calendar-row {
    background-color: gold;
    height: 70px;
    width: 100%;
    padding: 5px 0px;
}

.calendar-item {
    background-color: var(--featureRed);
    border-radius: 0px;
    color: white;
    margin: 5px;
    width: 150px;
    height: 100%;
    text-align: center;
}
.calender-menu {
    display: flex;
    margin: 0px 0px 20px 0px;
    justify-content: space-around;
    width: 60%;
}

.buy-ticket {
    flex: 1;
    padding: 50px;
}